<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email" />
  </div>
  <app-message message="Email obrigatório" *ngIf="newUserForm.get('email')?.errors?.required
  && newUserForm.get('email')?.touched"></app-message>
  <app-message message="Email com formato inválido" *ngIf="newUserForm.get('email')?.errors?.email
  && newUserForm.get('email')?.touched"></app-message>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName" />
  </div>
  <app-message message="Nome incorreto" *ngIf="newUserForm.get('fullName')?.errors
  && newUserForm.get('fullName')?.touched"></app-message>
  <div class="form-group">
    <input placeholder="Usuário" class="form-control" formControlName="userName" />
  </div>
  <app-message message="Usuário deve estar com letra minúscula"
    *ngIf="newUserForm.get('userName')?.errors?.lowercase && newUserForm.get('userName')?.touched"></app-message>
  <div class="form-group">
    <input type="password" placeholder="Senha" class="form-control" formControlName="password" />
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já um usuário? <a [routerLink]="['']"> Faça Login</a></p>
